---
import signImage from '../assets/footer_sign.png';
---

<div class="footer">
    <div class="footer_content">
        <div class="contact">
            <h1>CONTACTO</h1>
            <div class="social_wrapper">
                <a href="" class="social"><i class="bi bi-github"></i></a>
                <a href="" class="social"><i class="bi bi-linkedin"></i></a>
                <a href="" class="social"><i class="bi bi-instagram"></i></a>
            </div>
            <span class="email">correo electrónico: dachavezbustos@gmail.com</span>
            <span>© Copyright 2025</span>
        </div>
    </div>
</div>

<style>
    .footer {
        color: #fff;
        background-color: #203946;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer_content {
        margin: 2em 0 3em 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contact {
        width: 50%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }

    .social_wrapper {
        margin-bottom: 1em;
    }

    .social {
        padding: 0 .5em;
        font-size: 2em;
        color: #fff;
        text-decoration: none;
    }

    .email {
        text-align: center;
    }


</style>